/* ---------- CATEGORY FILTER ---------- */

.category-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:14px;

    flex-wrap:wrap;

    margin:40px auto 70px;

    padding:0 20px;
}

.category-pill{

    border:none;

    outline:none;

    background:white;

    color:#334155;

    padding:14px 28px;

    border-radius:50px;

    font-size:15px;

    font-weight:600;

    cursor:pointer;

    transition:.35s;

    box-shadow:
    0 8px 25px rgba(15,23,42,.08);

}

.category-pill:hover{

transform:translateY(-4px);

background:#10213b;

color:white;

box-shadow:
0 18px 35px rgba(16,33,59,.18);

}

.category-pill.active{

background:linear-gradient(
135deg,
#f7c948,
#e5a900);

color:white;

box-shadow:
0 18px 35px rgba(247,201,72,.35);

}

@media(max-width:768px){

.category-wrapper{

gap:10px;

}

.category-pill{

padding:12px 18px;

font-size:14px;

}

}