.blog-search{
    width:100%;
    max-width:700px;
    margin:25px auto 40px;
    position:relative;
}

.blog-search input{
    width:100%;
    height:64px;
    padding:0 65px 0 24px;

    border:none;
    outline:none;

    border-radius:999px;

    background:#ffffff;

    font-size:16px;
    font-weight:500;

    color:#111827;

    box-shadow:
        0 8px 30px rgba(0,0,0,.08);

    transition:.35s ease;
}

.blog-search input::placeholder{
    color:#9ca3af;
}

.blog-search input:focus{

    box-shadow:
        0 15px 40px rgba(37,99,235,.18);

}

.search-icon{

    position:absolute;

    right:24px;

    top:50%;

    transform:translateY(-50%);

    font-size:22px;

    color:#2563eb;

}